spring:
  application:
    name: API-GATEWAY
  cloud:
    gateway:
      routes:
        - id: CUSTOMER-SERVICE
          uri: lb://CUSTOMER-SERVICE
          predicates:
            - path=/customer/**
        - id: PRODUCT-SERVICE
          uri: lb://PRODUCT-SERVICE
          predicates:
            - path=/product/**
eureka:
  client:
    register-with-eureka: true
  serviceUrl:
    defaultZone: http://localhost:8761/eureka/
server:
  port: 9095




