spring:
  application:
    name: API-GATEWAY
  cloud:
    gateway:
      routes:
        - id: COURSESERVICE
          uri: lb://COURSESERVICE
          predicates:
            - Path=/course/**
        - id: STUDENTSERVICE
          uri: lb://STUDENTSERVICE
          predicates:
            - Path=/student/**
eureka:
  client:
    register-with-eureka: true
  serviceUrl:
    defaultZone: http://localhost:8761/eureka/
server:
  port: 9095




